<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        {{form.valid}}
        {{form.value | json}}

        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-shopping-cart"></i> Complete your order
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Delivery Address:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <mt-input-container errorMessage="Required - 5 characters" label="Street">
                <input class="form-control" name="street" ngModel required minlength="5" placeholder="Street" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container errorMessage="Required - only numbers" label="Number">
                <input type="text" class="form-control" name="number" required minlength="1" ngModel placeholder="Number" pattern="^[0-9]*$" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <mt-input-container label="Complement">
                <input type="text" class="form-control" name="optional" ngModel placeholder="Complement" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-12">
              <mt-input-container errorMessage="Required - 3 characters" label="City">
                <input type="text" class="form-control" name="city" required minlength="3" ngModel placeholder="City" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-12">
              <mt-input-container errorMessage="Required - 2 characters" label="County">
                  <input type="text" class="form-control" name="county" required minlength="2" ngModel placeholder="County" autocomplete="off">
              </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Order Items:</p>
            </div>
            <mt-order-items [items]="cartItems()"
              (increaseQty)="increaseQty($event)"
              (decreaseQty)="decreaseQty($event)"
              (remove)="remove($event)"></mt-order-items>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Payment:</p>

                <div class="form-group">
                   <mt-radio [options]="paymentOptions" name="paymentOption" ngModel required></mt-radio>
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Delivery and Total:</p>

              <mt-delivery-costs
                [delivery]="delivery"
                [itemsValue]="itemsValue()"></mt-delivery-costs>
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success pull-right" [disabled]="!form.valid || cartItems().length === 0"><i class="fa fa-credit-card"></i> Complete Order
            </button>
          </div>
        </div>

    </section>
</section>